<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <h4 style="text-decoration: underline;">G-Cash Calculator:</h4>
    <p> Remaining Cash :  <span style="text-decoration: underline;">₱{{result1}}</span></p>
    <p> Remaining GCash :  <span style="text-decoration: underline;">₱{{result2}}</span></p>
    <p> New Profit :  <span style="text-decoration: underline;">₱{{result3}}</span></p>
    <p><a href="/">Click here to calculate again</a></p>
</body>
</html>
