<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCashCalc</title>
    <style>
        input{
            width: 110px;
        }
    </style>
</head>
<body>
    <h4 style="text-decoration: underline;">G-Cash Calculator:</h4>
        <form method="post" action=".">
            <label>Previous Cash:</label><br>
            <input name="number1" /><br><br>
            
            <label>Previous GCash:</label><br>
            <input name="number2" /><br><br>
            
            <label>Previous Profit:</label><br>
            <input name="number3" /><br><br>
            
            <label>GCash + or -:</label><br>
            <input name="number4" /><br><br>
            
            <label>Cash + or -:</label><br>
            <input name="number5" /><br><br>
            
            <label>Additional Profit:</label><br>
            <input name="number6" /><br><br>
            
            <input type="submit" class="button" value="Calculate">
        </form>
</body>
</html>
